@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

li {
    list-style-type: none;
}

.liner {
    background-image: linear-gradient(0, 0, 0, 0.5), red;
}
body{
    overflow-x: hidden;
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #050202;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
    }
  }
  



  .dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #03031d;
    padding: 20px;
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sidebar button.active {
    font-weight: bold;
    background-color: #ccc;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
  }
  